.login-form{
  
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    /* margin: auto; */
    font-size: 0.4cm;
    font-family: 'Montserrat'; 
}
.formHeading{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.5cm;
  font-weight: bold;
  color: #D61C4E;
}

.col{
    margin: 5px;
    /* width: 500px; */
}
.form-labels{
  width: 150px;
}
.web-cam{
  /* border-radius: 50px; */
  /* margin-top: 190px; */
  padding: auto;
  /* width: 100px; */
}
.exam-web-cam{
  padding-left: 85%;
}
.row{
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  /* padding: 10px; */
  /* margin: 20px; */
}
.formCenter {
  border-radius: 20px;
    background-color: rgba(255,255,255,0.1);
    font-family: 'Montserrat';
    /* margin: auto; */
    width: 95%;
    height: 750px;
    min-width: 800px;
    /* margin-bottom: 100px; */
  }
  
  .formField {
    display: flex;
    justify-content: stretch;
    color: white !important;
    padding: 20px;
  }
  .formDivision{
    display: flex;
  }
  
  .formFieldLabel {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 0.9em;
    color: white;
    /* padding: auto; */
    padding-left: 50px;
  }
  .formFieldInput {
    width:400px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    /* padding:30px; */
    margin:auto;
  }
  
  .formFieldInput::placeholder {
    color: #616e7f;
  }
  
  .formFieldButton {
    background-color: #D61C4E;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 1em;
    font-weight: 500;
    margin: auto;
  }
  .inputSideForm{
    width: 50%;

  }
  
  .formFieldLink {
    color: white;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #D61C4E;
    margin: auto;

  }
  
  .formFieldCheckboxLabel {
    color: #646f7d;
    font-size: 0.9em;
  }
  
  .formFieldCheckbox {
    position: relative;
    top: 1.5px;
  }
  
  .formFieldTermsLink {
    color: white;
    border-bottom: 1px solid #D61C4E;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }

.formQuestion{
    /* width: 700px; */
    display: flex;
    color: white !important;
    /* justify-content: center; */
    margin: 20px;
    padding-left: 80px;
    font-size: 0.6cm;
}
.formOptions{
    display: flex;
    color: white !important;
    /* justify-content: center; */
    margin: 20px;
    padding-left: 80px;
    /* padding-top: 80px; */
    font-size: 0.6cm;
}
.options{
  margin: 20px !important;
}
.studentId{
  color: white !important;
  font-size: 0.3cm;
  padding-left: 90%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}