.heading{
    /* text-align: center; */
    font-family:'Montserrat';
    font-size: 0.6cm;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 150px;
    
}
.logo_video{
    border-radius: 500px;
    height: 300px;
}
.main-text{
    padding:20px;
}
